* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.footer, .display_reset, .header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  background: lightblue;
  padding: 2rem 0;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 600;
  color: rgb(255, 103, 57);
}

.player {
  display: flex;
  justify-content: space-around;
  padding-top: 1.5rem;
  font-size: 1.5em;
  text-transform: uppercase;
  color: rgb(255, 103, 57);
  font-weight: 600;
}
.player .letter {
  color: #000;
}

.game-board {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 150px);
  grid-gap: 2rem;
  padding-top: 5rem;
  padding-left: 2rem;
}
.game-board .game-board__cell {
  width: 5vw;
  height: 10vh;
  border: none;
  border: 1px solid rgb(255, 103, 57);
  border-radius: 5px;
  background: transparent;
  font-size: 2rem;
}

.display_reset {
  padding-top: 5rem;
  padding-right: 1rem;
  flex-direction: column;
  gap: 0.5rem;
}
.display_reset .display {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.5px;
}
.display_reset .reset {
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.5px;
  border-radius: 5px;
  border: none;
  border: 1px solid rgb(255, 103, 57);
}
.display_reset .reset:active {
  background: lightblue;
}

.footer {
  position: fixed;
  bottom: 0;
  background: lightblue;
  color: rgb(255, 103, 57);
  width: 100vw;
  padding: 2rem;
  font-size: 2em;
  font-weight: 600;
}